{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title_bar %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style/main.css' %}" />
    <link rel="stylesheet" href="{% static 'style/otherpages.css' %}" />
    <link rel="stylesheet" href="{% static 'style/getuser.css' %}" />
  </head>

  <body>
    <main>
      <!--
             TODO: last child and first child get border-radius 
            and div#childbackgroundForm remove 
        -->
      <div id="backgroundForm">
        <div id="childbackgroundForm">{% block body_page %}{% endblock %}</div>
      </div>
    </main>
  </body>
</html>
